<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Friend Manager - Error!</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" /> 
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /> 
<link rel="icon" type="image/png" href="/images/favicon.ico" />
</head>
<body>
  <div class="content container-fluid" style="text-align:center;"> 
    <h1>Ouch!!! that's an error!</h1>
    <p>We apologize for the inconvenience. This has certainly caught our attention and we will be looing into it. Please contact support.</p>
    <p>
      <a href="mailto:support@kickasschromeapps.com">support@kickasschromeapps.com</a>
    </p>
  </div>
</body>
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-42859587-1', 'friend-manager.com');
 ga('send', 'pageview');

</script>
</html>
